In [1]:
import sys
sys.path.append('../')
from src import soporte as sp

# Evaluación II: Ejercicio 10 Bonus

10. BONUS
- Crea una clase con todo el código generado en esta evaluación.

*He creado una clase para la extraccion y limpieza y una para cargar los datos, como hemos visto en los pair. El código se puede encontrar en el archivo soporte.py.*

In [2]:
unis = sp.Extraccion(['Argentina', 'Canada', 'United States'])

datos = unis.llamar_API()

La peticion al API para Argentina se ha realizado con éxito.
La peticion al API para Canada se ha realizado con éxito.
La peticion al API para United States se ha realizado con éxito.
Sus datos ya están listos en un dataframe. Aquí tiene los primeros 3 filas:

,state-province,domains,name,country,web_pages,alpha_two_code
0,Buenos Aires,[atlantida.edu.ar],Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR
1,Buenos Aires,[austral.edu.ar],Universidad Austral Buenos Aires,Argentina,[http://www.austral.edu.ar/],AR
2,Ciudad Autónoma de Buenos Aires,[caece.edu.ar],"Universidad CAECE, Buenos Aires",Argentina,[http://www.caece.edu.ar/],AR

In [3]:
datos['country'].value_counts()

United States    2281
Canada            154
Argentina          87
Name: country, dtype: int64

In [4]:
unis.limpieza_columnas(datos)

Su dataframe se ha limpiado. Aquí tiene la primera fila:

,state_province,name,country,web_pages,alpha_two_code
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,[http://www.atlantida.edu.ar/],AR

In [5]:
datos = unis.explode_columna(datos, 'web_pages')

datos.shape

(2535, 5)

In [6]:
unis.eliminar_dup(datos, 'name')

datos.shape

Se han eliminado 28 filas del dataframe.

(2507, 5)

In [7]:
unis.none_nan(datos, 'state_province')

datos['state_province'].unique()

Se han reemplazado 2234 valores None por np.nan en la columna state_province.

array(['Buenos Aires', 'Ciudad Autónoma de Buenos Aires', 'Entre Ríos',
       'Salta', 'Córdoba', 'Mendoza', 'Santa Fé', nan,
       'Santiago Del Estero', 'Misiones', 'Catamarca', 'Formosa', 'Jujuy',
       'La Rioja', 'La Pampa', 'San Juan', 'San Luis', 'Tucumán',
       'Quebec', 'Ontario', 'Nova Scotia', 'British Columbia', 'Alberta',
       'Manitoba', 'New Brunswick', 'Saskatchewan',
       'Newfoundland and Labrador', 'Prince Edward Island', 'Yukon',
       'Pennsylvania', 'NV', 'Iowa', 'VA', 'TX', 'Colorado', 'IN', 'CA',
       'South Carolina', 'Washington', 'NY', 'Texas', 'ND', 'MI', 'Ohio',
       'Florida', 'California', 'North Carolina', 'Michigan', 'GA',
       'New York, NY'], dtype=object)

In [8]:
unis.reemplazar_nulos(datos, 'state_province', 'Unknown')

datos['state_province'].value_counts().head(5)

Se han reemplazado 2234 valores nulos en la columna state_province por Unknown.

Unknown             2234
Ontario               46
British Columbia      33
Pennsylvania          28
Quebec                24
Name: state_province, dtype: int64

In [9]:
dicc_estados = {'NV': 'Nevada',
                'TX': 'Texas',
                'IN': 'Indianapolis',
                'CA': 'California',
                'VA': 'Virginia',
                'NY': 'New York',
                'MI': 'Michigan',
                'GA': 'Georgia',
                'ND': 'North Dakota'}

In [10]:
unis.reemplazar_valores(datos, 'state_province', dicc_estados)

Se han reemplazado los valores segun el mapa. Ahora los valores unicos de la columna state_province son:
['Buenos Aires' 'Ciudad Autónoma de Buenos Aires' 'Entre Ríos' 'Salta'
 'Córdoba' 'Mendoza' 'Santa Fé' 'Unknown' 'Santiago Del Estero' 'Misiones'
 'Catamarca' 'Formosa' 'Jujuy' 'La Rioja' 'La Pampa' 'San Juan' 'San Luis'
 'Tucumán' 'Quebec' 'Ontario' 'Nova Scotia' 'British Columbia' 'Alberta'
 'Manitoba' 'New Brunswick' 'Saskatchewan' 'Newfoundland and Labrador'
 'Prince Edward Island' 'Yukon' 'Pennsylvania' 'Nevada' 'Iowa' 'Virginia'
 'Texas' 'Colorado' 'Indianapolis' 'California' 'South Carolina'
 'Washington' 'New York' 'North Dakota' 'Michigan' 'Ohio' 'Florida'
 'North Carolina' 'Georgia' 'New York, NY']

In [11]:
dicc_ciudades = {'Ciudad Autónoma de Buenos Aires':'Buenos Aires',
                 'New York, NY':'New York'}

In [12]:
unis.reemplazar_valores(datos, 'state_province', dicc_ciudades)

Se han reemplazado los valores segun el mapa. Ahora los valores unicos de la columna state_province son:
['Buenos Aires' 'Entre Ríos' 'Salta' 'Córdoba' 'Mendoza' 'Santa Fé'
 'Unknown' 'Santiago Del Estero' 'Misiones' 'Catamarca' 'Formosa' 'Jujuy'
 'La Rioja' 'La Pampa' 'San Juan' 'San Luis' 'Tucumán' 'Quebec' 'Ontario'
 'Nova Scotia' 'British Columbia' 'Alberta' 'Manitoba' 'New Brunswick'
 'Saskatchewan' 'Newfoundland and Labrador' 'Prince Edward Island' 'Yukon'
 'Pennsylvania' 'Nevada' 'Iowa' 'Virginia' 'Texas' 'Colorado'
 'Indianapolis' 'California' 'South Carolina' 'Washington' 'New York'
 'North Dakota' 'Michigan' 'Ohio' 'Florida' 'North Carolina' 'Georgia']

In [13]:
datos = unis.lat_long_merge(datos, 'Cassia')

In [14]:
datos.head(6)

,state_province,name,country,web_pages,alpha_two_code,latitude,longitude
0,Buenos Aires,Universidad Atlantida Argentina,Argentina,http://www.atlantida.edu.ar/,AR,-34.607568,-58.437089
1,Buenos Aires,Universidad Austral Buenos Aires,Argentina,http://www.austral.edu.ar/,AR,-34.607568,-58.437089
2,Buenos Aires,"Universidad CAECE, Buenos Aires",Argentina,http://www.caece.edu.ar/,AR,-34.607568,-58.437089
3,Buenos Aires,Instituto Universitario CEMA,Argentina,http://www.cema.edu.ar/,AR,-34.607568,-58.437089
4,Buenos Aires,Instituto de Enseñanza Superior del Ejército,Argentina,http://www.iese.edu.ar/,AR,-34.607568,-58.437089
5,Buenos Aires,Instituto Universitario de Estudios Navales y ...,Argentina,http://www.inun.edu.ar/,AR,-34.607568,-58.437089

In [15]:
unis_sql = sp.Cargar('universidades', 'AlumnaAdalab')

In [18]:
unis_sql.crear_bbdd()

La conexión a MySQL se ha realizado con exito.
CMySQLCursor: CREATE DATABASE IF NOT EXISTS universida..

In [19]:
query_tabla_paises = """CREATE TABLE IF NOT EXISTS `universidades`.`paises` (
                        `idestado` INT NOT NULL AUTO_INCREMENT,
                        `nombre_pais` VARCHAR(45) NOT NULL,
                        `nombre_provincia` VARCHAR(45),
                        `latitud` VARCHAR(45) NULL,
                        `longitud` VARCHAR(45) NULL,
                        PRIMARY KEY (`idestado`))
                        ENGINE = InnoDB;"""

In [20]:
query_tabla_universidades = """CREATE TABLE IF NOT EXISTS `universidades`.`universidades` (
                            `iduniversidades` INT NOT NULL AUTO_INCREMENT,
                            `nombre_universidad` VARCHAR(100) NOT NULL,
                            `pagina_web` VARCHAR(100) NULL,
                            `idestado` INT NOT NULL,
                            PRIMARY KEY (`iduniversidades`),
                            INDEX `fk_universidades_paises_idx` (`idestado` ASC) VISIBLE,
                            CONSTRAINT `fk_universidades_paises`
                                FOREIGN KEY (`idestado`)
                                REFERENCES `universidades`.`paises` (`idestado`)
                                ON DELETE CASCADE
                                ON UPDATE CASCADE)
                            ENGINE = InnoDB;"""

In [21]:
unis_sql.crear_insertar_tabla(query_tabla_paises)

In [22]:
unis_sql.crear_insertar_tabla(query_tabla_universidades)